
body {
	position: relative;
	margin: 0px;
	background-color: rgb(248,245,246);
}

#vis_container {
	position: relative;
}

#event_info_container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	padding: 0px 20px;
	background-color: hsl(0, 100%, 67%);							
}

#top_bar {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0px;
	background-color: #cf1a0c;
	opacity: 0.77;
}

#legis_info {
	display: inline-block;
	margin: 10px;
	border: 1px solid gray;
	padding: 10px
}

#legis_info img, #info_container{
	display: inline-block;
}

text:hover {
	cursor: pointer;
}

#event_info {
	display: inline-block;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis {
	font-family: helvetica;
	font-weight: bold;
	font-size: 12px;
}

.focus-circle{
	stroke-width: 3px;
	fill-opacity: 0;
}

.context-circle {
	fill-opacity: .4;
}

.hovered{
	fill-opacity: 1;
}

.selected {
	fill-opacity: 1;
}

.not-selected {
	fill-opacity: .1;
	stroke-opacity: .1;
	stroke-width: 0px;
}

.connected {
	fill-opacity: 1;
}

.not-connected {
	fill-opacity: .1;
	stroke-width: 0px;
}

.event-text{
	/*font-family: helvetica;*/
	font-size: 14px;
}

.event-info {
	fill-opacity: 0;
	stroke-opacity: 0;		
	box-shadow: 0px 2px 10px gray;
	-webkit-transform: all 1s linear;
}

.event-date{
	fill-opacity: 0;
	font-size: 12px;
	-webkit-transform: all 1s linear;
}

.shown {
	fill-opacity: 1;
	stroke-opacity: 1;
	stroke-width: 1px;
}

.bold{
	font-weight: bold;
}

.event-type{
	fill-color: red;
	color: white;
}

ul {
	margin: 0px
}

.nav{
	display: inline-block;
	padding: 32px 4px;
	margin: 0px 5px;
	/*font-weight: bold;*/
	color: white;
	font-family: helvetica; 
}

#filter{
	padding: 32px 10px;
}			

#filter:hover{
	background-color: white;
	color: red;
	cursor: pointer;
}

#filter_options{
	display: none;
	position: fixed;
	left: 0px;
	top: 80px;
	background-color: white;
	border: 1px solid red;
	border-top: 0px;
	width: 422px;
	padding: 10px;
	padding-left: 60px
}

.filter-events-input{
	display: inline-block;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.event-popup div {
	margin: 0px 10px 0px 0px;
	display: inline-block;
}

h3, h5, a {
	font-family: helvetica;
}

h3 {
	margin: 5px 0px;
}

h5, .event-popup p {
	margin: 0px;
	font-family: helvetica;
	/*color: #ccc*/
}

a {
	text-decoration: none;
	color: purple;
	font-weight: bold;
}


#info {
	position: absolute;
	top: 5px;
	left: 50px;
	/*border: 1px solid #ccc;*/
	/*padding: 10px;*/
}

#legislator_image img{
	height: 30px;
}

#legislator_image {
	display: inline-block;
}

#legislator_name {
	display: inline-block;
	position: relative;
	top: -8px;
	font-size: 14px;
	font-family: helvetica;
	font-weight: bold;
	color: white;
	margin-left: 5px;

}

#bio {
	display: inline-block;
}

#key {
	display: inline-block;
}

.event-popup {
	background-color: white;
	position: absolute;
	padding: 15px;
	border: 1px solid #333;
	width: 350px;
	box-shadow: 0px 2px 10px #ccc;
	-webkit-transition: all 100ms linear;
}

.event-popup .hidden-content{
	display: none;
}

.expanded {
	width: 500px;
}
