
body {
	position: relative;
	margin: 0px;
	background-color: rgb(248,245,246);
}

.white-bg{
	background-color: white;
}

#vis_container {
	position: relative;
}

#hgroup {
	position: relative;
	top: 150px;
	width: 700px;
	margin: 0px auto;
	text-align: center;
	color: white;
	font-family: futura;
}

#title {
	font-size: 80px;
	position: relative;
	/*left: 50px;*/
	margin: 0px;
}

h2 {
	position: relative;
	/*left: 50px;*/
	color: white;
	font-family: futura;
	margin: 0px;
	/*width: 550px;*/
	/*text-align: center;*/
}

#event_info_container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	padding: 0px 20px;
	background-color: hsl(0, 100%, 67%);							
}

#top_bar {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0px;
	background-color: #cf1a0c;
	opacity: 0.77;
	box-shadow: 0px 2px 10px gray;
	-webkit-transition: all .25s ease-out;
}

#legislator_input {
	display: none;
	position: relative;
	width: 540px;
	height: 90px;
	font-size: 50px;
	margin: 200px auto;
	border: 0px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 10px gray;
	-webkit-transition: all .25s ease-out;
}

#change_legislator {
	font-weight: normal;
	color: rgb(248,245,246);
	text-decoration: underline;
	line-height: 280%;
	vertical-align: top;
	font-size: 12px;
}

#key_img {
/*	position: absolute;
	left: 40px;
	top: 50px;*/
	height: 30px; 
}

#filter_img {
/*	position: absolute;
	left: 140px;
	top: 48px;*/
	height: 30px;
}

#filter_container
 {
	background-color: white;
	position: fixed;
	right: 0px;
	top: 70px;
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	box-shadow: 0px 2px 10px gray;
	min-width: 50px;
	-webkit-transition: all 100ms ease-in;

}

.expandido {
	height: 100% !important;
}

.expanded-filter {
	width: 400px;
}

#filter_container li {
	display: inline-block;
	padding: 10px;
	margin: 0px
}

#filter_container li:hover {
	background-color: white;
}

#options_content {
/*	position: absolute;
	left: 40px;
	top: 102px;*/
	/*width: 400px;*/
	/*height: 50px;*/
	/*padding: 10px;*/
	/*border: 1px solid #ccc;*/
	/*background-color: white;*/
	/*display: none;*/
	display: inline-block;
}

#add_filter {
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px; 
}

#filter_button {
	display: block;
	margin-top: 10px; 
}

/*#legis_info {
	display: inline-block;
	margin: 10px;
	border: 1px solid gray;
	padding: 10px
}*/

#legis_info img, #info_container{
	display: inline-block;
}

text:hover {
	cursor: pointer;
}

#event_info {
	display: inline-block;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    /*shape-rendering: crispEdges;*/
    stroke: #CBCBCB;
	stroke-dasharray: 2, 5, 2, 5;
	stroke-width: 1;
}

.x.axis path {
  /*display: none;*/
  /*stroke-dasharray: none;
  stroke: #aaa;*/
}

.axis {
	font-family: helvetica;
	font-weight: bold;
	font-size: 12px;
}

.focus-circle{
	stroke-width: 3px;
	fill-opacity: 0;
}

.context-circle {
	fill-opacity: .4;
}


.node circle, .leaf circle{
	fill: green;
	fill-opacity: .2;
}

.leaf .hovered{
	fill-opacity: 1 !important;
}

.hovering {
	fill-opacity: 1 !important;
	stroke-opacity: 1 !important;
	stroke-width: 3px !important;
	-webkit-transition: all 250ms linear;
}

.hidden {
	display: none !important;
}

.selected {
	fill-opacity: 1;
}

.not-selected {
	fill-opacity: .1;
	stroke-opacity: .1;
	stroke-width: 0px;
}

.connected {
	fill-opacity: 1 !important;
}

.not-connected {
	fill-opacity: .1 !important;
	stroke-width: 0px;
}

.event-text{
	/*font-family: helvetica;*/
	font-size: 14px;
}

.event-info {
	fill-opacity: 0;
	stroke-opacity: 0;		
	box-shadow: 0px 2px 10px gray;
	-webkit-transform: all 1s linear;
}

.event-date{
	fill-opacity: 0;
	font-size: 12px;
	-webkit-transform: all 1s linear;
}

.shown {
	fill-opacity: 1;
	stroke-opacity: 1;
	stroke-width: 1px;
}

.bold{
	font-weight: bold;
}

.event-type{
	fill-color: red;
	color: white;
}

ul {
	margin: 0px
}

.nav{
	display: inline-block;
	padding: 32px 4px;
	margin: 0px 5px;
	/*font-weight: bold;*/
	color: white;
	font-family: helvetica; 
}

/*#filter{
	padding: 32px 10px;
}			

#filter:hover{
	background-color: white;
	color: red;
	cursor: pointer;
}*/

#filter_options{
	display: none;
	position: fixed;
	left: 0px;
	top: 80px;
	background-color: white;
	border: 1px solid red;
	border-top: 0px;
	width: 422px;
	padding: 10px;
	padding-left: 60px
}

.filter-events-input{
	display: inline-block;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.event-popup div {
	margin: 0px 10px 0px 0px;
	display: inline-block;
}

.sponsored, .context-sponsored {
	fill: steelblue;
	fill-opacity: .5;
	stroke: steelblue;
	-webkit-transition: all 150ms linear;
}

.cosponsored, .context-cosponsored {
	fill: red;
	fill-opacity: .5;
	stroke: red;
	-webkit-transition: all 150ms linear;
}

.speech, .context-speech {
	fill: orange;
	fill-opacity: .5;
	stroke: orange;
	-webkit-transition: all 150ms linear;
}

.vote, .context-vote {
	fill: indigo;
	fill-opacity: .5;
	stroke: indigo;
	-webkit-transition: all 150ms linear;
}

h3, h5, a {
	font-family: helvetica;
}

h3 {
	margin: 5px 0px;
}

h5, .event-popup p {
	margin: 0px;
	font-family: helvetica;
	/*color: #ccc*/
}

a {
	text-decoration: none;
	color: purple;
	font-weight: bold;
}


#info {
	position: absolute;
	top: 5px;
	left: 50px;
	/*border: 1px solid #ccc;*/
	/*padding: 10px;*/
}

#legislator_image img{
	height: 30px;
}

#legislator_image {
	display: inline-block;
}

#legislator_name {
	display: inline-block;
	position: relative;
	top: -8px;
	font-size: 14px;
	font-family: helvetica;
	font-weight: bold;
	color: white;
	margin-left: 5px;

}

#bio {
	display: inline-block;
}

#key {
	display: inline-block;
}

.event-popup {
	background-color: white;
	position: absolute;
	padding: 15px;
	border: 1px solid #555;
	width: 350px;
	box-shadow: 0px 2px 10px #ccc;
	-webkit-transition: all 100ms linear;
}

.event-popup .hidden-content{
	display: none;
}

.expanded {
	width: 500px;
}
